body, html {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

/* Dropdown */

/* Defineix que el cos ocupa tota l'altura i organitza columnes verticals */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}