<form method="get" class="p-3 border rounded" id="search-form">

    <div class=" search-bar" id="search-bar">
        {{ form.search }}
        {% if form.search.errors %}
            <div class="text-danger small">{{ form.search.errors }}</div>
        {% endif %}
    </div>

    <div class="p-3 bg-dark text-light rounded mb-3" id="filters-block">

        <div class="row g-3">

            <div class="col-md-3">
                {{ form.category.label_tag }}
                {{ form.category }}
            </div>

            <div class="col-md-3">
                {{ form.status.label_tag }}
                {{ form.status }}
            </div>

            <div class="col-md-3">
                {{ form.date_from.label_tag }}
                {{ form.date_from }}
            </div>

            <div class="col-md-3">
                {{ form.date_to.label_tag }}
                {{ form.date_to }}
            </div>

        </div>

    </div>

    <div class="justify-content-start gap-2" id="form-actions">
        <button type="submit" class="btn btn-primary">Filtrar</button>
        <a href="{% url 'events:event_list' %}" class="btn btn-secondary">Reset</a>
    </div>

</form>