{% extends "base.html" %}

{% block content %}
    {# Capçalera principal de la pàgina d'inici #}
    <h1>Benvingut a StreamEvents!</h1>

    {# Div centralitzat per al contingut principal #}
    <div class="text-center">

        {# Si l'usuari està autenticat, mostrem un missatge de benvinguda personalitzat #}
        {% if !user.is_authenticated %}
            
            <h2>Hola! Benvolgut a la nostra pàgina de StreamEvents</h2>
            
        {# Si no està autenticat, oferim botons per iniciar sessió o registrar-se #}
        {% else %}
            
        {% endif %}
        
    </div>
{% endblock %}



