{% extends "base.html" %}

{% block content %}
    {# Capçalera principal de la pàgina d'inici #}
    <h1>Benvingut a StreamEvents!</h1>

    {# Div centralitzat per al contingut principal #}
    <div class="text-center">

        {# Si l'usuari està autenticat, mostrem un missatge de benvinguda personalitzat #}
        {% if user.is_authenticated %}
            <p>Hola, <strong>{{ user.username }}</strong> 👋😊</p>

        {# Si no està autenticat, oferim botons per iniciar sessió o registrar-se #}
        {% else %}
            <h2></h2>
        {% endif %}
        
    </div>
{% endblock %}